/* =====================================================================
   BASE
   ===================================================================== */

   html {
    color: #222;
    font-family: 'Open Sans' sans-serif;
    font-size: 1em;
    line-height: 1.4;
}

img {
    width: 100%;
}

h1 {
    color: #000;
}

.logo-name {
    color: dodgerblue;
}

p {
    text-align: center;
    font-size: 14px;
}

h4 {
    text-align: center;
}

.peewee {
    width: 30%;
    height: 20%;
    border-radius: 50%;
    margin-top: 10px;
    padding: 30px;
    float: left;
}
.herman {
    font-size: 15px;
    font-weight: bold;
    margin-top: 40px;
}

.intro {
    text-align: center;
    font-size: 10px;
}
/* =====================================================================
   LAYOUT
   ===================================================================== */
div, section, footer, header {
    border: 1px solid #ccc;
}

.column {
    background-color: rgb(243, 222, 194);
    margin: 1rem;
}

.heading {
text-align: center;
}

/* Small only */
@media screen and (max-width: 39.9375em) {
    .thingsofabove {
        display: none;
    }
    .sponsors {
        display: none;
    }
    .intro {
        text-align: left;
        font-size: 12px;
    }
    .herman {
        font-size: 17px;
        font-weight: bold;
        margin-top: 0px;
    }
    .peewee {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        margin-top: 10px;
        padding: 30px;
        float: left;
    }
}

/* Medium and up */
@media screen and (min-width: 40em) {
    .row {
        display: grid;
        width: 85vw;
        max-width: 70rem;
        margin: 0 auto;
    }
    .m-col-2 {
        grid-template-columns: 1fr 1fr;
    }
    .m-col-3 {
        grid-template-columns: repeat(3, 1fr);
    }
    .m-col-4 {
        grid-template-columns:repeat(4, 1fr);
    }
    .m-col-5 {
        grid-template-columns: repeat(5, 1fr);
    }
    .m-1-2 {
       grid-template-columns: 1fr 2fr;
    }
    .span-full {
        grid-column-start: 1;
        grid-column-end: -1;
    }
    .peewee {
        width: 140px;
        height: 140px;
        border-radius: 50%;
        margin-top: 10px;
        padding: 30px;
        float: left;
        }
    .herman {
        font-size: 20px;
        font-weight: bold;
        margin-top: 40px;
    }

    .intro {
        text-align: left;
        font-size: 16px;
    }
}

/* Medium only */
@media screen and (min-width: 40em) and
(max-width: 63.9375em) {
    .special-project {
        grid-column-start: 1;
        grid-column-end: -1;
    }
}

/* Large and up */
@media screen and (min-width: 64em) {
    .l-col-2 {
        grid-template-columns: 1fr 1fr;
    }
    .l-col-3 {
        grid-template-columns: repeat(1, 1fr);
    }
    .l-col-4 {
        grid-template-columns: repeat(4, 1fr);
    }
    .l-col-5 {
        grid-template-columns: repeat(5, 1fr);
    }
    .l-col-6 {
        grid-template-columns: repeat(6, 1fr);
    }
}

/* Large only */
@media screen and (min-width: 64em) and
(max-width: 74.9375em) {}

/* =====================================================================
   MODULES
   ===================================================================== */

/* =====================================================================
   THEME
   ===================================================================== */
.page--slider {
    background-color: rgb(230, 230, 230);
}

.page--footer {
    background-color: #222;
}

